.Inicial {
    display: flex;
    position: relative;
    padding-top: 7.5rem;
    justify-content: flex-start; /* Alinha os itens horizontalmente à esquerda */
}


.Menu{
    margin-left: -2rem;
    position: relative;
}

.Title {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 20rem;
    color: var(--branco);
}