.Aviso {
    display: flex;
    position: relative;
    justify-content: flex-start; /* Alinha os itens horizontalmente à esquerda */
    padding-top: 7.5rem;
}

.Conteudo {
    margin-left: 1rem;
    max-width: 80rem;
    padding: 2rem;
    background-color: var(--cinza);
    border-radius: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: -5rem;
}


.Conteudo h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
}

.Conteudo p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
    color: var(--preto);
}

.Conteudo ul {
    list-style-type: disc;
    padding-left: 1.5rem;
}

.Conteudo ul li {
    font-size: 1.1rem;
    margin-bottom: 0.8rem;
    color: #333;
}
