.Estagio {
    display: flex;
    position: relative;
    margin-top: 6.5rem;
    justify-content: flex-start; /* Alinha os itens horizontalmente à esquerda */
}

.MenuEstagio{
    margin-left: -30rem;

}

.Menu {
    margin-right: 25rem;

}

.Title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 8rem;
    margin-top: 3.5rem;
    margin-bottom: 5rem;
    word-wrap:normal;
    color: var(--branco);
}

.Caixa {
    margin-left: 20rem;

   
}


