.estagio {
  display: flex;
  position: relative;
  padding-top: 7.5rem;
  justify-content: flex-start; /* Alinha os itens horizontalmente à esquerda */
  font-size: 16px;
  margin-left: -2rem;
}

/* Outras classes */
.MenuEstagio {
  margin-left: -50.75rem;
  margin-top: 14.5rem;
}

.Menu2 {
  margin-right: 25rem;
}

.Title2 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-left: 8rem;
  margin-top: 3.5rem;
  margin-bottom: 5rem;
  word-wrap: normal;
  color: var(--branco);
}

.Caixa {
  margin-left: 8rem;
}


@media (max-width: 1200px) {
  /* Ajustes para telas menores */
  .estagio {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  /* Ajustes para tablets */
  .estagio {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  /* Ajustes para smartphones */
  .estagio {
    font-size: 10px;
  }
} 
